

body {
  font-family: Helvetica;
  background: powderblue;

}

header {
      background: url(https://cdn.pixabay.com/photo/2018/04/22/22/57/hacker-3342696_960_720.jpg);
      background-size: auto 350px;
}

footer {
      position: absolute;
      margin-top: auto;
      bottom: 0;
      width: 100%;

}


h1 {
  color: blue;
  font-family: algerian;
  text-align: center;
  font-size: 500%;
}

h2 {
  color: blue;
  text-align: center;
  padding-bottom: 10px;
}

.navbar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #555;
  overflow: visible;
}

.navbar a.active {
  background-color: #4CAF50;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: static;
  background-color: #555;
  box-sizing: border-box;
  width: 20%;
  border: 1px solid white;
}


.navbar a:hover {
  background-color: gray;
}

.dropdown {

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  width: 20%;
  z-index: 1;
  left: 20%;
  top: 45px;
}

.dropdown-content a {
  color: white ;
  padding: 14px 16px;
  display: block;
  float: left;
  font-size: 16px;
  text-align: left;
  background-color: #555;
  width: 80%;
  box-sizing: content-box;
  border: none;
}

.dropdown:hover .dropdown-content  {
  display: block;
}

.dropdown-content a:hover{
  background-color: gray;
}

.Uvod {
  color: black;
  text-align: left;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  font-size: 20px;
  margin-top: 100px;

}

.besedilo {
  color: white;
  text-align: left;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: black;
  border: 5px solid blue;
  font-size: 20px;
  margin-top: 100px;
}

.besedilo li {
  margin-left: 10px;
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.besedilo p {
  margin-right: 15px;
  margin-right: 20px;
}

.besedilo img {
  margin-top: 25px;
}

.space a {
  color: green;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: black;
  padding: 10px;
  color: red;
  border: 1px solid white;
  margin-top: 20px;
}

.container h2{
  text-align: left;
  margin-left: 5%;
}

.container button {
  background-color: red;
  border-color: black;
  font-size: 150%;
  float: right;
  margin-top: 9%;
}

.column {
  float: left;
  width: 50%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.tema {
  float: left;
  margin-left: 5%;
  margin-right: auto;

}
.tema textarea {
  width: 180%;
  height: 90px;
}

.zoom {
 margin-left: 20px;
}

.zoom:hover{
  margin-left: 50px;
  transform: scale(1.5);
}

.besedilo-boj {
  color: white;
  text-align: left;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: black;
  border: 5px solid blue;
  font-size: 20px;
  margin-top: 100px;
}

.besedilo-boj li {
  margin-left: 50px;
}
